@use "variables" as *;

@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/gothamrnd-medium.ttf");
  font-family: "Gotham Rounded";
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Gotham Rounded";
  // overflow: hidden;
  background-color: $green;
}

canvas {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  pointer-events: none;
}

#game::after,
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
