@use "variables" as *;

@font-face {
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/gothamrnd-medium.ttf");
  font-family: "Gotham Rounded";
}

canvas {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  pointer-events: none;
}

#game::after,
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
