@use 'sass:math';
@use 'variables' as *;

/* ESTRUTURA BASE DA CARTA */

.card {
  width: $width;
  height: $height;
  border: 2px solid $black;
  border-radius: $radius;
  position: relative;
  display: inline-block;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  z-index: 1;
}

.column .card.flipped {
  box-shadow: 0 0 20px -5px #000;
}

.card,
.card * {
  pointer-events: none;
}

.dealt .card {
  pointer-events: none;
}

.dealt .card:last-child,
.column .card.flipped,
.stack .card.flipped:last-child {
  pointer-events: inherit;
}

.card {
  transform-style: preserve-3d;
  transition:
    transform 250ms,
    z-index 250ms step-end;
}

.dealer.dealing .card {
  transition: transform 250ms;
}

.card > div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: $radius;
}

.card .rear {
  background-color: #fff;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/86186/back.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 82% 88%;
  transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(0deg);
  z-index: 2;
}

/* VALORES E NAIPES */

.card .value {
  position: absolute;
  font-weight: 900;
  font-size: math.div($width, 6.5);
  width: math.div($width, 6.5);
  height: math.div($width, 3);
  text-align: center;
  text-shadow:
    1px 0 #fff,
    -1px 0 #fff,
    0 1px #fff,
    0 -1px #fff,
    1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff,
    -1px 1px #fff;
}

.card .value::after {
  position: absolute;
  font-size: math.div($width, 6);
}

.card .value:nth-child(1) {
  top: 0px;
  left: 0px;
}

.card .value:nth-child(2) {
  bottom: 0px;
  right: 0px;
  transform: rotate(180deg);
}

.card .value:nth-child(1)::after,
.card .value:nth-child(2)::after {
  position: absolute;
  top: math.div($width, 8);
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
}

/* CORES DOS NAIPES */

.hearts,
.diamonds {
  color: $red;
}

.clubs,
.spades {
  color: $black;
}

.hearts .value::after,
.hearts span::after {
  content: '♥';
}

.diamonds .value::after,
.diamonds span::after {
  content: '♦';
}

.clubs .value::after,
.clubs span::after {
  content: '♣';
}

.spades .value::after,
.spades span::after {
  content: '♠';
}

/* SÍMBOLO CENTRAL */

.middle {
  height: 85%;
  left: 7.5%;
  position: absolute;
  top: 7.5%;
  width: 85%;
}

.middle span {
  position: absolute;
  display: block;
  height: math.div($width, 4);
  width: math.div($width, 4);
}

.middle span::after {
  font-size: math.div($width, 2.5);
  @include flex-center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: math.div(-$width, 20);
}

/* BACKGROUND (IMAGEM OU VÍDEO) */

.card:not(.flipped) .card-background {
  display: none;
}

.card.flipped .card-background {
  display: block;
}
