@use "sass:math";
@use "variables" as *;

/* INTERAÇÕES DE DRAG AND DROP */

.card::after,
.column::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  transition: opacity 250ms;
  pointer-events: none;
}

.card::before {
  pointer-events: none;
}

.column.hint {
  box-shadow: 0 0 0px 5px #fff inset;
}

.card.hint {
  transform: scale(1.05, 1.05);
}

.column.over {
  &.empty::before,
  & > .card:not(.dragging):last-child::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: $radius;
    z-index: 100;
    border: 2px dashed #fff;
    box-sizing: border-box;
  }

  & > .card:not(.dragging):last-child::before {
    top: math.div($width, 5);
  }
}

.card.dragging {
  z-index: 1000 !important;
  box-shadow: 0 0 20px -5px #000;
  transition: z-index 250ms step-start;
  transform: scale(1.05, 1.05);
}
